.homeContainer{
    overflow-y: scroll;
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
    height: 100vh;
    .section{
        scroll-snap-align: start;
    }
    .header{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        h1{
            font-family: 'Nixie One', cursive;
            // font-family: 'Satisfy', cursive;
            font-size: 5em;
            font-weight: bolder;
        }
        p{
            padding:1em;
            font-size: 2em;
        }
    }
    // PROJECTS
    .project{
        position: relative;
        img{
            width:100vw;
            height:100vh;
            overflow: hidden;
            object-fit: cover;
        }
        .projectFooter{
            position: relative;
            .projectURL{
                @include projectUrls(absolute, 100, 30px, left, 20px, none, black, 2em);
            }
            .allProjectsContainer{
                width:6em;
                @include projectUrls(absolute, 100, 30px, right, 20px, none, black, 2em);
                .allProjects{
                    text-decoration: none;
                    color:black;
                }
                .line{
                    background-color: black;
                    animation: animate 5s linear infinite; 
                    animation-direction: alternate-reverse;
                    position: absolute;
                    right: 0;
                    margin:.2em;
                }
            }
        }
    }
    .homeAbout{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        background-color: rgb(85, 85, 85);
        
        h3{
            color:white;
            font-size:2em;
            width:70%;
            padding-bottom:2em;
        }
        .aboutLink{
            font-size:2em;
            color:white;
            width:100%;
            position: relative;
            a{
                color:white;
                text-decoration: none;
                cursor: pointer;
            }
            &:hover{
                i{
                    animation: plane 3s linear infinite;
                }
                .trail{
                    display: flex;
                    animation: plane-trail 3s linear infinite;
                }
            }
            .trail{
                display: none;
                width:.5em;
                height:.2em;
                background-color: white;
                position: absolute;
                left:52vw;
                bottom: 10px;
            }
        }
    }
    .homeContact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 30vh;
        width:100%;
        h3{
            font-size: 2em;
            padding-bottom: .5em;
        }
        a{
            font-size: 2em;
            margin-bottom: .5em;
            text-decoration: none;
            color:black;
            &:hover{
                color: rgb(14, 136, 177);
            }
        }
        .info{
            display: flex;
            flex-direction: column;
            a{
                padding:.5em;
                font-size: 1.2em;
                text-decoration: none;
                color:black;
                cursor: pointer;
                &:hover{
                    color: rgb(14, 136, 177);
                }
            }
        }
    }

}
@keyframes animate { 
    0% { 
        width:0;
        height:1px;
        background-color: transparent;
    }
    1% { 
        width:0;
        height:1px;
        background-color: black;
    }  
    20% { 
        width:1%;
        height:1px;
        background-color: black;
    } 
    50% { 
        width:100%;
        height:1px;
        background-color: black;
    } 
    80% { 
        width:1%;
        height:1px;
        background-color: black;
    }
    99% { 
        width:0;
        height:1px;
        background-color: black;
    }  
    100% { 
        width:0;
        height:1px;
        background-color: transparent;
    } 
} 
@keyframes plane{
    0% { 
        transform: translate(0, 0);
    }
    20% { 
        transform: translate(10vw, -30px) rotate(55deg);
    }  
    40% { 
        transform: translate(20vw, -10px) rotate(55deg);
    } 
    50% { 
        transform: translate(25vw, 5px) rotate(55deg);
    }
    60% { 
        transform: translate(30vw, 20px) rotate(25deg);
    } 
    80% { 
        transform: translate(40vw, -30px) rotate(45deg);
    }
    100% { 
        transform: translate(50vw, 0px) rotate(45deg);
    } 
}
@keyframes plane-trail{
    0% { 
        transform: translate(0, 0)rotate(-40deg);
    }
    20% { 
        transform: translate(10vw, -30px) rotate(-20deg);
    }  
    40% { 
        transform: translate(20vw, -10px) rotate(20deg);
    } 
    50% { 
        transform: translate(25vw, 5px) rotate(-15deg);
    }
    60% { 
        transform: translate(30vw, 20px) rotate(-15deg);
    } 
    80% { 
        transform: translate(40vw, -30px) rotate(0deg);
    }
    100% { 
        transform: translate(50vw, 0px) rotate(0deg);
    } 
}