.homeContainer{
    overflow: scroll;
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
    height: 100vh;
    .section{
        scroll-snap-align: start;
    }
    header{
        
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        h1{
            font-family: 'Nixie One', cursive;
            // font-family: 'Satisfy', cursive;
            font-size: 5em;
            font-weight: bolder;
        }
    }
    // PROJECTS
    .project{
        position: relative;
        img{
            width:100vw;
            height:100vh;
            overflow: hidden;
            object-fit: cover;
            
        }
        .projectFooter{
            position: relative;
            .projectURL{
                @include projectUrls(absolute, 100, 30px, left, 20px, none, black, 2em);
            }
            .allProjectsContainer{
                width:6em;
                @include projectUrls(absolute, 100, 30px, right, 20px, none, black, 2em);
                .allProjects{
                    text-decoration: none;
                    color:black;
                }
                .line{
                    background-color: black;
                    animation: animate 5s linear infinite; 
                    animation-direction: alternate-reverse;
                    position: absolute;
                    right: 0;
                    margin:.2em;
                }
            }
        }
    }
}
@keyframes animate { 
    0% { 
        width:0;
        height:1px;
        background-color: transparent;
    }
    1% { 
        width:0;
        height:1px;
        background-color: black;
    }  
    20% { 
        width:1%;
        height:1px;
        background-color: black;
    } 
    50% { 
        width:100%;
        height:1px;
        background-color: black;
    } 
    80% { 
        width:1%;
        height:1px;
        background-color: black;
    }
    99% { 
        width:0;
        height:1px;
        background-color: black;
    }  
    100% { 
        width:0;
        height:1px;
        background-color: transparent;
    } 
} 